[user]
	name = carlaraya
	email = carl_angelo.araya@upd.edu.ph
[alias]
    gr = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
    acp = "!f() { git add -A; git commit -m \"$1\"; git push -u origin HEAD;}; f" 
    trackall = "!f() { for remote in `git branch -r `; do git branch --track $remote; done }; f"
[core]
    deltop = reset --hard HEAD^
	excludesfile = /home/icecream/.gitignore_global
[push]
	default = simple
